*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('img/background.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff8ed;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 40px 0; /*distancia entre top y navbar*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 70px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #313131;
    text-transform: uppercase;
    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0;
    position: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.title {
    font-family: sans-serif;
    color: #61665a;
    font-size: 48px;
    text-align: center;
    margin-top: 20%;
}

.lucia-footer {
    background-color: #fff8ed; /* Fondo negro */
    color: white; /* Texto blanco */
    text-align: center; /* Centrar el texto */
    padding: 20px 0; /* Espaciado interno */
    position: relative; /* Permite que el contenido lo empuje hacia abajo */
    bottom: 0;
    width: 100%; /* Hacer que ocupe todo el ancho */
    font-size: 14px;
    display: flex; /* Flexbox para distribuir contenido */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center; /* Alinea elementos verticalmente */
}

.footer-box {
    background-color: #f5c3c1; /* Fondo rosa */
    width: 40%; /* Ancho del cuadrado */
    height: 200px; /* Altura del cuadrado */
    padding: 20px;
    color: white; /* Texto en blanco para mejor contraste */
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-text {
    color: #61665a;
    width: 60%; /* Cada bloque ocupa el 50% del ancho */
    padding: 20px; /* Espaciado interno para los bloques */
    font-size: 20px;
}


.footer-box h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 40px;
}

.footer-box p {
    margin: 0;
    font-size: 40px;
}

.new-page {
    height: 100vh; /* Ocupa el tamaño completo de la ventana */
    background-color:  #fff8ed; /* Fondo blanco */
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.blank-page { 
    height: 100vh; /* Ocupa el tamaño completo de la ventana */
    background-color:  #fff8ed; /* Fondo blanco */
    display: flex; /* Flexbox para centrar el contenido */
    flex-direction: column;
    align-items:flex-start; /* Centrar verticalmente */
}

.new-page h1 {
    font-size: 48px; /* Tamaño del título */
    color: #6f7366; /* Color del texto */
}

.title-container {
    display: flex; /* Flexbox para dividir la página en dos partes */
    width: 100%; /* El ancho total es del 100% */
    height: 100%; /* La altura total ocupa toda la página */
}

.page-image {
    width: 50%; /* Ocupa el 50% del ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.page-image img {
    max-width: 100%; /* Imagen ajustada al ancho del contenedor */
    height: 80%; /* Mantiene la proporción de la imagen */
}

.page-text {
    width: 50%; /* Ocupa el 50% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}


.page-text p {
    font-size: 25px; /* Tamaño del texto */
    color: #6f7366;
    margin-left: 90px;
    text-align: right;
}

.page-text-left {
    width: 50%; /* Ocupa el 50% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}


.page-text-left p {
    font-size: 25px; /* Tamaño del texto */
    color:#6f7366;
    margin-right: 90px;
    text-align: justify;
}


.page-title-container {
    background-color: #a16d5a; /* Fondo del rectángulo */
    width: 100%; /* Ocupa el 100% del ancho de la mitad derecha */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Asegura que el padding no exceda el ancho */
    margin-bottom: 20px;
}

/* Ajustes al título */
.page-title-container h1 {
    margin: 0;
    font-size: 48px; /* Tamaño del título */
    color: rgb(255, 255, 255);
    text-align: left; /* El título se alinea a la izquierda */
}

.accordion {
    margin-top: 0px;
}

.accordion-item {
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-header {
    height: 80px;
    background-color: transparent;
    color: #6f7366;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid rgb(141, 93, 65);
    text-transform: uppercase;
}

.accordion-header:hover {
    background-color: #ddd;
}

.accordion-content {
    padding: 0 15px;
    display: none; /* Oculta el contenido por defecto */
    background-color: white;
}

.accordion-content p {
    margin: 10px 0;
}

/* Estilo al abrir el acordeón */
.accordion-item.active .accordion-content {
    display: block; /* Muestra el contenido cuando se activa */
}

.left-title-container {
    background-color: #f5c3c1; /* Fondo del rectángulo */
    width: 60%; /* Ocupa el 60% del ancho de la mitad derecha */
    height: 100px;
    box-sizing: border-box; /* Asegura que el padding no exceda el ancho */
    text-transform: uppercase;
    color: white;
    display: flex; /* Flexbox para centrar verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: flex-end; /* Alinea horizontalmente a la derecha */
    padding-right: 20px; /* Espacio adicional a la derecha */
    margin-bottom: 40px;
}

.static-title {
    font-size: 48px;
    color: #6f7366;
    margin: 0;
    padding: 20px;
    background-color: lightgray;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px; /* Márgenes laterales para dar un poco de espacio a la página */
}

/* Estilos de cada bloque de contenido */
.content-box {
    flex: 1;
    text-align: center; /* Centra el texto e imagen dentro del contenedor */
    padding: 20px;
    background-color: #f9f9f9;
    margin: 0 15px; /* Espacio entre los contenedores */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto 3D */
}

/* Estilos para la imagen */
.content-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para el título de cada contenedor */
.content-box h3 {
    margin: 15px 0 10px;
    font-size: 24px;
    color: #333;
}

/* Estilos para el texto */
.content-box p {
    font-size: 16px;
    color: #666;
}

.site-footer {
    background-color: #ffc7c9; /* Fondo rosa */
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y los títulos */
    padding: 0px;
    height: 650px; /* Altura del footer */
    box-sizing: border-box;
    justify-content: flex-end;
}

/* Imagen en el footer */
.footer-image {
    height: 100%; /* Ocupa toda la altura del footer */
    width: auto; /* Mantiene la proporción de la imagen */
    margin-right: 0px; /* Espacio entre la imagen y los títulos */
}

/* Títulos dentro del footer */
.footer-titles {
    display: flex;
    flex-direction: column; /* Organiza los títulos en columna */
    justify-content: center; /* Centra los títulos verticalmente */
}

/* Estilo de los títulos */
.footer-titles h3 {
    margin: 20px 0; /* Espaciado entre los títulos */
    color: white; /* Color de texto blanco */
    font-size: 40px;
}